<%= form_for Picture.new, :url => album_picture_path, :html => {:method => :post} do |f| %>
  <%= f.label :image %>
  <span class="btn btn-default btn-file">
   <%= f.file_field :image %>
  </span>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.submit :class => 'btn' %>
<% end %>